<h1>Welcome!</h1>
<h2>Star Rupture planner</h2>
<p>I started this project for several reasons:</p>
<ul>
    <li>Check out new Angular features</li>
    <li>Discover what "vibe-coding" is all about, and see how useful it is</li>
    <li>Create a quick helper tool for the Star Rupture video game."
Then a follow-up sentence: "I quickly realized the game gives you no way to check whether your inputs are sufficient, whether additional factories are needed, or whether your current setup could support even more production</li>
</ul>
<h2>How to use this tool?</h2>
<p>If you just started playing, close this page. Try it out and when you start having more than 10 recipes, 4 factory types and you realize "maybe I cannot determine everything I need to build on my own" you can come back</p>
<br/>
<p>I recommend starting with the <a routerLink="schedule">schedule</a> tab and add some resource targets. You can then use the "<strong>Add missing factories</strong>" button to create the minimum amount of factories needed. Finally head to the <a routerLink="">inventory</a> tab and check how many factories you need. When you get to the actual building, follow these rules:</p>
<ul>
    <li>Take as much space as possible - otherwise you will not have space for the rails</li>
    <li>Add a storage depot after a production group. I see 2 benefits:<ul><li>have a safety buffer when you have a demand burst</li><li>Allow for the possibility of large factories (you will see an endless stream of items on a rail - I find it oddly satisfying)</li></ul></li>    
</ul>
<h2>Disclaimer &amp; thanks</h2>
<ul>
    <li>This tool does not take into account energy usage nor core load. Rail speeds nor distances are taken into account in the various computations.</li>
    <li>It is possible Creepy Jar will change the formulas and this tool will become obsolete</li>
    <li>I built this before finishing the game. I had a lot of fun, so many thanks to Creepy Jar !</li>
</ul>