<mat-toolbar color="primary">
  <mat-icon>calendar_month</mat-icon>
  <span class="toolbar-title">Production Schedule</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="onAddResourceTarget()">
    <mat-icon>add</mat-icon>
    Add Resource Target
  </button>
</mat-toolbar>

<div class="content">
  <table mat-table [dataSource]="rows()" class="schedule-table mat-elevation-z2">

    <!-- Factory Column -->
    <ng-container matColumnDef="factoryId">
      <th mat-header-cell *matHeaderCellDef>Factory</th>
      <td mat-cell *matCellDef="let row">{{ row.factoryId }}</td>
    </ng-container>

    <!-- Nb Factories Column -->
    <ng-container matColumnDef="nbFactories">
      <th mat-header-cell *matHeaderCellDef>Nb Factories</th>
      <td mat-cell *matCellDef="let row">
        <div class="nb-factories-cell">
          <div class="nb-factories-value">{{ row.nbFactories }}</div>
          <div class="row-actions">
            <button mat-icon-button class="row-action-btn" (click)="onAddMissingFactories(row)"
              matTooltip="Add missing factories">
              <mat-icon>auto_fix_high</mat-icon>
            </button>
            <button mat-icon-button class="row-action-btn" (click)="onAddFactory(row)" matTooltip="Add factory">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="row-action-btn" [disabled]="row.nbFactories === 0"
              (click)="onRemoveFactory(row)" matTooltip="Remove factory">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Resource Column -->
    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef>Resource</th>
      <td mat-cell *matCellDef="let row">{{ row.resource }}</td>
    </ng-container>

    <!-- Target/min Column -->
    <ng-container matColumnDef="targetPerMin">
      <th mat-header-cell *matHeaderCellDef>Target/min</th>
      <td mat-cell *matCellDef="let row" class="rate-cell produced-cell">
        @if (row.targetPerMin > 0) {
        {{ row.targetPerMin | number:'1.0-2' }}
        }
      </td>
    </ng-container>

    <!-- Net/min Column -->
    <ng-container matColumnDef="netPerMin">
      <th mat-header-cell *matHeaderCellDef>Net/min</th>
      <td mat-cell *matCellDef="let row" class="rate-cell"
        [class.produced-cell]="row.producedPerMin - row.consumedPerMin > 0"
        [class.consumed-cell]="row.producedPerMin - row.consumedPerMin < 0"
        [matTooltip]="(row.producedPerMin > 0 ? 'Produced: +' + (row.producedPerMin | number:'1.0-2') + '/min' : '') + (row.producedPerMin > 0 && row.consumedPerMin > 0 ? '\n' : '') + (row.consumedPerMin > 0 ? 'Consumed: -' + (row.consumedPerMin | number:'1.0-2') + '/min' : '')"
        matTooltipClass="multiline-tooltip" [matTooltipDisabled]="row.producedPerMin === 0 && row.consumedPerMin === 0">
        @if (row.producedPerMin - row.consumedPerMin > 0) {
        +{{ row.producedPerMin - row.consumedPerMin | number:'1.0-2' }}
        } @else if (row.producedPerMin - row.consumedPerMin < 0) { {{ row.producedPerMin - row.consumedPerMin |
          number:'1.0-2' }} } @else { - } </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.virtual-row]="row.factoryType === 'virtual'">
    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-cell" [attr.colspan]="displayedColumns.length">
        <mat-icon>inbox</mat-icon>
        <span>No factories in the active layout. Add factories to see the production schedule.</span>
      </td>
    </tr>
  </table>
</div>