// Import the Angular Material M3 theme (palettes, typography, density)
@use 'styles/theme';
@use '@angular/material' as mat;


// ─── Global resets & base styles ─────────────────────────────────────────────
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  @include mat.sidenav-overrides((container-background-color: var(--mat-sys-surface-container),
      container-text-color: var(--mat-sys-on-surface),
    ));
}

// material overrides
.mat-mdc-dialog-surface {
  height: auto !important;
  max-height: 90vh;
}

mat-dialog-content,
.mat-mdc-dialog-content {
  max-height: none; // let the surface constraint do the work
}

// Tooltip with newline support
.multiline-tooltip {
  white-space: pre-line;
}